<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
    </head>
    <body>
        <!-- display all tasks in queryset -->
        {% for task in task_list.all %}
        <div class="task">
            <h2>{{ task.name }}</h2>
            <p>{{ task.description }}</p>
            <p>{{ task.date_due }}</p>
            <p>{{ task.completed }}</p>
        </div>
        {% endfor %}

        <!-- form to add a task -->
        <form action="/task" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="due_date">Due Date:</label>
        <input type="date" id="due_date" name="due_date" required>

        <label for="completed">Completed:</label>
        <input type="checkbox" id="completed" name="completed">

        <input type="hidden" id="user" name="user" value="">

        <button type="submit">Add Task</button>
        </form>
        <!-- populate hidden input from url /<user/task -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var user = window.location.pathname.split('/')[1];
                document.getElementById('user').value = user;
                console.log(user);
            });
        </script>
    </body>
</html>

