.bg-viper-dark {
    background-color: #222 !important;
}

.bg-viper-dark-2 {
    background-color: #333 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00802f !important;
    border-color: #00802f !important;
}

.hsg-green {
    background-color: #00802f !important;
}

#addButton {
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00802f;
}

